<div class="col-md-6">
    <h2 class="text-center">Edit Book</h2>
  <form>
   
  
    <div class="form-group">
        <label for="title">Book title:</label>
        <input type="text" [(ngModel)]="book.title" placeholder="Enter Title" name="title" class="form-control" id="title">
    </div>
    <div class="form-group">
        <label for="price">Book price:</label>
        <input type="text" [(ngModel)]="book.price" placeholder="Enter Price" name="price" class="form-control" id="price">
    </div>

    <div class="form-group">
        <label for="volume">Book volume:</label>
        <input type="text" [(ngModel)]="book.volume" placeholder="Enter volume" name="volume" class="form-control" id="volume">
    </div>

    <div class="form-group">
        <label for="publishDate">Book publish Date:</label>
        <input type="text" [(ngModel)]="book.publishDate" placeholder="Enter publish Date" name="publishDate" class="form-control" id="publishDate">
    </div>

    <button class="btn btn-success" (click)="updateBook()">Update</button>
  </form>
  </div>
  